* {
    font-family: Sarabun;
    font-size: 20px;
}


html, body{
    margin: 0;
    height: 100%;
}
h1{
    font-family: Yeon Sung;
    font-size: 70px;
    margin: 0
}

#logo{
    text-align: center;
    padding: 1%;
    box-sizing: border-box;

    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
}

#settings{
    display: inline-block;
    width: 35%;
    padding: 2%;
    float: left;
    box-sizing: border-box;

    border-style: solid;
    border-color: black;
    border-width: 0 1px 1px 0;
}

#right-container{
    display: inline-block;
    width: 65%;
    box-sizing: border-box;
}

#commands{
    width: 100%;
    box-sizing: border-box;

    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
}

/*-------------------------------------------------------------- board styles --------------------------------------------------------------*/

#board-container{
    display: none;
}

#board{
    text-align: center;
    height: auto;
    display: flex;
    padding: 1em;
    margin: 1em auto;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.storage{
    height: auto;
    width: 4em;
}

#p1-storage{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#p2-storage{
    border-style: solid;
    border-color: black;
    border-width: 1px 0 1px 1px;
}

#cells{
    display: flex;
    flex-direction: column;
    height: auto;
}

.cell-row{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.cell {
    flex-grow: 1;
    width: 3em;
    height: 100%;
    min-height: 1.5em;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 1px;
}

.playable_cell:hover{
    background-color:salmon;
}

#top-cells, #bottom-cells{
    flex-grow: 1;
}

#bottom-cells{
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
}

.seed{
    display: inline-block;
    width: 27%;
    color: transparent;
    border-radius: 50%;
}

#turn{
    text-align: center;
}

/*--------------------------------------------------------- highscore table styles ---------------------------------------------------------*/

#highscores-table{
    margin: 2em auto;
    width: 80%;
}

#highscores-table-head > tr > th, #highscores-table-body > tr > td{
    text-align: left;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.elem-settings{
    padding-bottom: 1em;
}
.center-elem{
    text-align: center;
    margin-bottom: 3%;
}
.left-button{
    margin: 1em 1em 0 0;
}
.right-button{
    margin: 1em 0 0 1em;
}
.radio-button{
    margin: 0em 0.5em 0em 0.5em;
}
.radio-button-label{
    margin: 0em 0.5em 0em 0.5em;
}
.medium-button{
    width: 40%;
    font-size: 20px;
}
.big-button{
    width: 80%;
    font-size: 20px;
}
.upper-margin{
    margin: 2% 0% 0% 0%;
}
.auth{
    background-color: rgb(204, 201, 201);
    float:left;
    margin: 1%;
    padding: 2%;
    width: 60%;
    font-size: 10%;
    margin-top: 2.5%;
    margin-left: 3%;
}

.warning{
    color: red;
}

#pos-auth{
    display: none;
}

#bef-auth{
    display: block;
}

.input-auth{
    height: 2%;
    width: 70%;
    float: right;
}
.pop-ups{
    margin-top: 2.5%;
    float:left;
    width:30%;
}
.pop-up-buttons{
    width: 90%;
    font-size: 20px;
}

.game-controls{
    width: 100%;
    margin: 2% 0%;
    display: inline-block;

}
.game-buttons{
    width: 40%;
    font-size: 20px;
    
}
.give-up-button{
    float:right;
    margin-right:3.5%;
}
.auth-button{
    float:left;
    margin-left:3%;
}

.pop-up div {
    display: none;
    position:fixed;
    z-index: 99!important;
    background-color: rgb(204, 201, 201);
    top: 1%;
    width: 70%;
    right: 15%;
    height: 92%;
    overflow-y: scroll;
    padding: 1%;
}
.pop-up div:target {
    display: block;
}
.rules-section{
    font-size: 30px;
}
.small-pop-up div{
    border: 3px solid black;
    display: none;
    position:fixed;
    background-color: rgb(150, 150, 150);
    top: 45%;
    height: 10%;
    width: 25%;
    right: 37.5%;
    padding: 1%;
}
.small-pop-up p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.small-pop-up #timeout-message{
    height: auto;
}


button:hover {
    background-color: whitesmoke;
}

select{
    float:right;
    font-size: 15px;
    float: right;
}
button{
    background-color: rgb(204, 201, 201);
    padding: 0.3%
}

img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#warning{
    text-align: center;
}

#final-message{
    text-align: center;
}
